{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Produits</title>
</head>
<body>
    <main>
        <nav class="nav-bar">
            <div>
                <ul>
                    <li><a href="/">Nos Produits</a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li>
                      <a href="/panier" class="nav-cart">
                        <span class="material-symbols-outlined">
                           shopping_cart
                        </span>
                        {% if numberOfProduct > 0 %}
                            <span class="nav-cart-indicator">
                                {{ numberOfProduct }}
                            </span>
                        {% endif %}
                      </a>
                    </li>
                </ul>
            </div>
        </nav>