<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="./style.css">
    <title>Produits</title>
</head>
<body>
    <main>
        <nav class="nav-bar">
            <div>
                <ul>
                    <li><a href="#">Nos Produits</a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li>
                      <a href="#" class="nav-cart">
                        <span class="material-symbols-outlined">
                           shopping_cart
                        </span>
                        <span class="nav-cart-indicator">
                            1
                        </span>
                      </a>
                    </li>
                </ul>
            </div>
        </nav>
        <section>
            <h1>Nos Produits</h1>
            <div class="home-content">
                <div class="home-cart">
                    <div class="home-product-image">
                        <img src="./images/img1.jpg" alt="">
                    </div>
                    <div class="home-product-details">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem</p>
                        <p class="home-product-details-price">16,88 €</p>
                        <div class="home-product-actions">
                            <a href="#" class="home-product-actions-details">Détails</a>
                            <a href="#" class="home-product-actions-addCart">Ajouter au panier</a>
                        </div>
                    </div>
                </div>
                <div class="home-cart">
                    <div class="home-product-image">
                        <img src="./images/img2.jpg" alt="">
                    </div>
                    <div class="home-product-details">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem</p>
                        <p class="home-product-details-price">16,88 €</p>
                        <div class="home-product-actions">
                            <a href="#" class="home-product-actions-details">Détails</a>
                            <a href="#" class="home-product-actions-addCart">Ajouter au panier</a>
                        </div>
                    </div>
                </div>
                <div class="home-cart">
                    <div class="home-product-image">
                        <img src="./images/img3.jpg" alt="">
                    </div>
                    <div class="home-product-details">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem</p>
                        <p class="home-product-details-price">16,88 €</p>
                        <div class="home-product-actions">
                            <a href="#" class="home-product-actions-details">Détails</a>
                            <a href="#" class="home-product-actions-addCart">Ajouter au panier</a>
                        </div>
                    </div>
                </div>
                <div class="home-cart">
                    <div class="home-product-image">
                        <img src="./images/img4.jpg" alt="">
                    </div>
                    <div class="home-product-details">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem</p>
                        <p class="home-product-details-price">16,88 €</p>
                        <div class="home-product-actions">
                            <a href="#" class="home-product-actions-details">Détails</a>
                            <a href="#" class="home-product-actions-addCart">Ajouter au panier</a>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <footer>
            <p>App 2023</p>
        </footer>
    </main>
</body>
</html>